.subjectHeader {
  color: navy;
  font-family: sans-serif;
}

thead {
  font-weight: bold;
  color: blue;
}

table,
tr,
th,
td {
  border: 2px solid black;
  text-align: center;
}

#teamRoster,
#teamRoster ul,
#teamRoster ol {
  list-style-type: square;
}

[href]:hover {
  background-color: orange;
  text-decoration: none;
}

blockquote {
  background-color: brown;
  color: yellow;
}

#teamRoster > li:first-child {
  background-image: linear-gradient(rgba(255,255,255,.75), rgba(255,255,255,.75)), url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  display: block;
  background-repeat: no-repeat;
  padding: 30px;
}

#teamRoster > li:last-child {
  background-image: linear-gradient(rgba(255,255,255,.75), rgba(255,255,255,.75)), url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  display: block;
  background-repeat: no-repeat;
  padding: 20px;
}

[alt="Broncos Logo"] {
  display: none;
}

[alt="Bears Logo"] {
  display: none;
}

#checkbox-grid {
  list-style: none;
}

#teamRoster li > ul > li:last-child > ol > li:first-child {
  font-weight: bold;
}

#scoreBoard > thead > tr:first-child,
#scoreBoard > tbody > tr:first-child,
#scoreBoard > tfoot {
  background-color: red;
}

#scoreBoard > thead > tr:nth-child(2),
#scoreBoard > tbody > tr:last-child {
  background-color: green;
}
